.slideshow {
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    background: #FFF;
    overflow: hidden;
    position: relative;
}

.slideshow>* {
    width: 100%;
    height: 180px;
}

.container {
    overflow: hidden;
    position: relative;
    display: block;
}

.slider {
    position: absolute;
    left:0;
    top:0;
    width: 400%;
    height: 180px;
    margin: 0;
    padding: 0;
    -webkit-animation: slider4 12s linear infinite;
    list-style: none;
    /* Otherwise space between lis */
    font-size: 0;
}

.slideshow input[type=checkbox] {
    position: absolute;
}

#slideshow3 .slider {
    width: 300%;
    -webkit-animation: slider3 9s linear infinite;
}

.slideshow input[type=checkbox] ~ .container .slider {
    -webkit-animation-play-state: paused;
}

.slideshow input[type=checkbox]:checked ~ .container .slider  {
    -webkit-animation-play-state: running;
}

.slider li {
    margin: 0;
    padding: 0;
    position: relative;
    display: inline-block;
    width: 25%;
    height: 180px;
}

#slideshow3 .slider li {
    width: 33.33%;
}

.slider div {
    width: 100%;
    height: 100%;
    background: center center no-repeat;
    background-size: 100% auto;
}

div.one {
    background-image: url('http://upload.wikimedia.org/wikipedia/commons/0/08/Asteroid_P-2010_A2.jpg');
}

div.two {
    background-image: url('http://upload.wikimedia.org/wikipedia/commons/8/82/Comet_C1947_S1_%28Bester%29.jpg');
}

div.three {
    background-image: url('http://upload.wikimedia.org/wikipedia/commons/a/a0/ESO-comet-linear-false-colours-phot-18b-01-normal.jpg');
}

div.four {
    background-image: url('http://upload.wikimedia.org/wikipedia/commons/d/d2/ESO-Comet_SW-3-Phot-15c-06.jpg');
}

@-webkit-keyframes slider4 {
    0%, 20%, 100%   { left: 0 }
    25%, 45%        { left: -100% }
    50%, 70%        { left: -200% }
    75%, 95%        { left: -300% }
}

@-webkit-keyframes slider3 {
    0%, 28%, 100%   { left: 0 }
    33%, 60%        { left: -100% }
    66%, 95%        { left: -200% }
}